<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../common/co/css/co.css">
    <link rel="stylesheet" href="../common/css/box.css">
    <link rel="stylesheet" href="../common/css/color.css">
    <link rel="stylesheet" href="../common/css/media.css">
    <link rel="stylesheet" href="css/mystyle.css">
    <link rel="stylesheet" href="../common/css/common.css">
</head>
<body>
<div id="slider" style = "height:10em" class="ui-slider">
    <div class="ui-slider-group">
        <div class="ui-slider-item">
            <img class="ui-slider-img" src="images/ad1.png">
        </div>
        <div class="ui-slider-item">
            <img class="ui-slider-img" src="images/ad2.png">
        </div>
        <div class="ui-slider-item">
            <img class="ui-slider-img" src="images/ad3.png">
        </div>
        <div class="ui-slider-item">
            <img class="ui-slider-img" src="images/ad4.png">
        </div>
    </div>
</div>

</body>
	<script src="../common/co/native.js"></script>
	<script src="../common/co/dom.js"></script>
	<script src="../common/co/co.js"></script>
	<script>
	</script>
<script>
domReady(function(require){
				 require("slider");
				        $('#slider').slider( { 
				            loop:true,
				            dots:true,
				            guide:true,
				            space:5
				        }).ref.on('slide',function(e,index){
				           console.log(index);
				        })

})
</script>
</html>
